<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbAVEvmUt-0HWnGGXEPMtWEg86npwMxi8</string>
	<key>GCM_SENDER_ID</key>
	<string>603032301274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pingpongMix</string>
	<key>PROJECT_ID</key>
	<string>pingpong-mix-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>pingpong-mix-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:603032301274:ios:95a4253a69d4dbcfbfffe3</string>
</dict>
</plist>
